*,
*:after,
*:before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(44, 31, 38);
}

a {
  text-decoration: none;
}

.main-header {
  background-color: rgb(29, 26, 24);
  padding: 0 5%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgb(234, 164, 80);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.main-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  color: rgb(185, 131, 31);
  font-size: 1.25rem;
}

.nav a:hover {
  color: rgb(228, 163, 44);
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#side-drawer header {
  padding: 0 5%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#side-drawer:target {
  display: block;
}

#side-drawer ul {
  margin: 0;
  padding: 4rem 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#side-drawer a {
  color: rgb(253, 239, 213);
  font-size: 2rem;
}

main h1 {
  text-align: center;
  color: rgb(234, 164, 80);
  font-size: 3rem;
}

#latest-products {
  max-width: 80%;
  margin: 2rem auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}

.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  text-align: center;
  padding: 1rem;
}

.food-item-content h2 {
  margin: 1rem;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: rgb(221, 131, 34);
}

@media (max-width: 48rem) {
  .nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #latest-products ul {
    grid-template-columns: 1fr;
  }
}
